*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color:rgba(255, 144, 14, 0.1);
    
    
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#architect{
    margin-right: 5em;
    margin-top: 1em;
}
.navigation-bar{
    margin-top: 1em;
}
.navigation-bar a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    margin-left: 3em;
       
}
.intro{
    width: 50%;
   margin: auto;
    margin-top: 10em;
    margin-bottom: 5em;
    text-align: center;
}

.strong-text{
    font-size: 64px;
    font-weight: 700;
}

.explor-btn{
    margin-top: 32px;
    margin-bottom: 50px;
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 5px;
    
    
}
.explor-btn a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

.intro img{
width: 100%;
margin-top: 50px;
margin-bottom: 50px;
}
/* =======================features section======================== */

.features{
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    align-items: center;
    margin-bottom: 5em;

}
.features-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
.features-gallery img{
    width: 100%;
}

/* ===========experience section ============= ========== */

.experience{
    width: 80%;
    margin: auto;
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(2, 1fr);

}


.experience-description{

}
.experience-img{

}
.experienve-field{
    border: 0;
    border-radius: 8px;
    padding: 12px;
    margin-top: 1.5em;
    box-shadow: 5px 5px 5px 5px hsl(0, 8%, 93%);
}