*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color:rgba(255, 144, 14, 0.1);
    
    
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#architect{
    margin-right: 5em;
    margin-top: 1em;
}
.navigation-bar{
    margin-top: 1em;
}
.navigation-bar a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    margin-left: 3em;
       
}
.intro{
    width: 50%;
   margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
}

.intro img{
width: 100%;
margin-top: 50px;
margin-bottom: 50px;
}